/**
 * Created by Brooks Johnson on 12/5/2021.
 */
.container{
    display: grid;

}

input{
    margin: 5px 0;
    display: inline-block;
    position: relative
}

button{
    background-color: cadetblue;

}

button:hover{
    cursor:  pointer;
}

.invalid{
    position: relative;
}

.invalid:after{
    position: absolute;
    border-radius: 11px;
    width: 68%;
    height: 66%;
    content: "";
    background-color: red;
    top: 17%;
    left: 17%;
}